
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

@font-face {
    font-family: 'malgun';
    src: url('../font') format('truetype');
}
.sen{
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:  Arial, Helvetica, sans-serif;
    font-family: malgun;
}
ul{
    list-style: none;
}

#wrap{
    background-color: beige;
   
}

/*=========================================header_wrap*/
.header_wrap{
    width: 1100px;
    height: 120px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}
.header_wrap .logo{
    display: flex;
    width: 10%;
    flex-basis: 100%;
    align-items: center;
    
}
.header_sign_wrap{
    display: flex;
    width: 87%;
    height: 60px;
    flex-wrap: wrap;
    justify-content:end;
}
.header_sign_wrap ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap:2em;
}
.sub_sign a{
    display: inline-block;
    letter-spacing: -0.5px;
    font-size: 13px;
    font-weight: 600;
    color: #555;

}
.search{
    display: flex;
    justify-content: end;
    margin-top: 14px;
    width: 34px;
    height: 34px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
}
.search img{
    margin-top: 6px;
    margin-right: 5px;
}
.nav_wrap{
    width: 90%;
    height: 60px;
}
.nav_wrap ul{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    gap:2.5em;
}
.main_menu a{
    color:#333;
    font-size: 13px;
}

/*=========================================main_visual*/
.main_visual{
    width: 100%;
    height: 32vw;
    background: url(https://image.istarbucks.co.kr/upload/common/img/main/2024/2024_december_top_bg.jpg)
                no-repeat center;
    background-size: cover;
}
.main_visual_slogan{
    position: absolute;
    width: 17.9%;
    left: 14.3%;
    top:36.7%;
   
}
.main_visual_slogan img{
    max-width: 100%;
}
.slogan_btn{
    position: absolute;
    width: 8%;
    height: 2.5vw;
    top: 60%;
    left: 20%;
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
    line-height: 2.5vw;
    font-size: 15px;
    font-weight: 600;
}
.slogan_btn a{
    max-width: 100%;
    display: inline-block;
    color: #fff;
    
}
.main_visual{
    position: relative;
}
.set_01{
    position: absolute;
    z-index: 9;
    top:13%;
    left: 35%;
    width: 12%;
   
}
.set_01 img{
    max-width: 100%;
}
.set_02{
    position: absolute;
    z-index: 8;
    top: 22%;
    left: 63%;
    width: 12%;
   
    
}
.set_02 img{
    max-width: 100%;
}
.set_03{
    position: absolute;
    z-index: 7;
    top: 34%;
    left: 51%;
    width: 14%;
   
}
.set_03 img{
    max-width: 100%;
}
.set_04{
    position: absolute;
    z-index: 6;
    top: 28%;
    left: 43%;
    width: 12%;
   
}
.set_04 img{
    max-width: 100%;
}
.set_05{
    position: absolute;
    z-index: 5;
    top: 15%;
    left: 71.5%;
    width: 11.6%;
   
}

.set_05 img{
    max-width: 100%;
}
.pop_cont01{
    
    position: fixed;
    right: 7%;
    top: 15%;
    z-index: 99;
}
.section_notice{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.notice_01{
    width: 60%;
    height: 4vw;
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  
}
.rolling{
    width: 48%;
}
.more{
    width: 35px;
    height: 35px;
    margin-right: 10px;
    background: url(	https://www.starbucks.co.kr/common/img/common/btn_notice_plus.png
    )no-repeat;
    background-size: cover;
}

.notice_02{
    width: 40%;
    height: 4vw;
    background-color: #fff;
    
}
.notice_02> ul{
    width: 100%;
    height: 4vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5em;

}
.notice_02 ul li:first-child{
    display: flex;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
}
.notice_02 ul li:first-child a{
   
    display: inline-block;
    color:#666;
    letter-spacing: -0.8px;
}
.notice_slide_all{
    width: 1100px;
    height: 800px;
    background-color: blueviolet;
    margin: 0 auto;
}
.pan{
    width: 500%;
    height: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    top:10px;
    z-index: 11;
    gap: 43px;
}
.pan div{
    width: 790px;
}